@{
    ViewData["Title"] = "Home";
}

<div class="BannerCintainer">
    <div class="BannerBar">
        <div class="TextPart">
            <p>WELLCOME TO BMARKETO SHOP</p>
            <h2>
                Exclusive Chair <br />gold Collection.
            </h2>
            <button type="button" class="ShopNowbtn">SHOP NOW</button>
        </div>
        <div class="ImgPart">
            <img class="BannerImg" src="./Images/625x647.svg" />
        </div>
    </div>
</div>

<h1 class="BestCollection"> Best Collection </h1>
<p class="AllCategories">All / Bags / Dress / Decoration / Essentials / Interior / Laptop / Mobile / Beauty</p>

<div class="ProductGrid">
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Apple watch series</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Table Lamp</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>laptop thinkpad lenovo</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Table Lamp</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Gumshoes black fashion</b></label><br />
            <label id="price"><b><del>$120.00</del> $80.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Woman white dress</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Kettle water boiler</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
</div>

<div class="LoadMore">
    <button class="LoadBtn">LOAD MORE <i class="bi bi-arrow-clockwise"></i></button>
</div>

<div class="SaleGrid">
    <div class="SubSaleGrid">
        <div class="Cell">
            <a href="#"><img id="productImg" src="./Images/369x310.svg" /></a>
            <div class="CardSpicification">
                <p><b>Table Lamp - scelerisque tempore</b></p>
                <hr />
                <div class="PriceFlex">
                    <div class="OldPrice"><del>$50.00</del></div>
                    <div class="NewPrice">$30.00</div>
                    <div class="SaleCart"><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
                </div>
            </div>
        </div>
        <div class="cell2">
            <div class="UpToSell">
                <p id="p1"><b>UP TO SELL</b></p>
                <p id="p2"><b>50% OFF</b></p>
                <p id="p3"><b>Get The Best Price</b></p>
                <p id="p4">Get the best daily offer et accusam et <br /> justo duo dolores et ea rebum. Stet<br />clita kasd gubergren no sea taki</p>
                <a href="#">Discover More</a>
            </div>
        </div>
        <div class="Cell">
            <a href="#"><img id="productImg" src="./Images/369x310.svg" /></a>
            <div class="CardSpicification">
                <p><b>Table Lamp - scelerisque tempore</b></p>
                <hr />
                <div class="PriceFlex">
                    <div class="OldPrice"><del>$50.00</del></div>
                    <div class="NewPrice">$30.00</div>
                    <div class="SaleCart"><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="TopSelling"><b>Top selling products in this week</b></div>

<div class="TopSellingFlex">
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
    <div class="Card">
        <a href="#"><img id="productImg" src="./Images/270x295.svg" /></a>
        <div id="specification">
            <label id="name"><b>Congee cooking rice cooker</b></label><br />
            <label id="price"><b>$30.00</b></label>
            <div id="cardCart">
                <div><a href="#"><i class="bi bi-cart-plus-fill" style="font-size: 20px;"></i></a></div>
            </div>
        </div>
    </div>
</div>

<div class="ExploreBtn">
    <button><</button>
    <button>></button>
</div>

<div class="LastBar">
    <div class="cell3">
        <a href="#"><img src="./Images/370x295.svg" /></a>
        <div class="CellTxt">
            <p id="nameTxt">Table lamp 1562 LTG modal</p>
            <p id="detailTxt">Best dress for everyone ed totam velit risus viverra<br />nobis donec recusandae perspiciatis incididuno</p>
            <p id="postBy">POST BY: ADMIN     COMMENTS 13</p>
        </div>
    </div>
    <div class="cell3">
        <a href="#"><img src="./Images/370x295.svg" /></a>
        <div class="CellTxt">
            <p id="nameTxt">Table lamp 1562 LTG modal</p>
            <p id="detailTxt">Best dress for everyone ed totam velit risus viverra<br />nobis donec recusandae perspiciatis incididuno</p>
            <p id="postBy">POST BY: ADMIN     COMMENTS 13</p>
        </div>
    </div>
    <div class="cell3">
        <a href="#"><img src="./Images/370x295.svg" /></a>
        <div class="CellTxt">
            <p id="nameTxt">Table lamp 1562 LTG modal</p>
            <p id="detailTxt">Best dress for everyone ed totam velit risus viverra<br />nobis donec recusandae perspiciatis incididuno</p>
            <p id="postBy">POST BY: ADMIN     COMMENTS 13</p>
        </div>
    </div>
</div>

<div class="SubscribeContainer">
    <div class="SubSubscribe">
        <div class="SubscripbeBar">
            <div class="This">
                <input class="SubscribeTxt" type="email" placeholder="Enter Your Mail Here!" />
                <button class="SubscribeBtn" type="submit">SUBSICRIBE FOR NEWSLETTER</button>
            </div>
        </div>
    </div>
</div>





