.BannerCintainer {
    position: relative;
    top: 30px;
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: #F3F2F2;

    .BannerBar {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .TextPart {
            position: relative;
            top: 100px;
            left: 300px;
            width: 50%;


            p {
                font-size: small;
                font-weight: 100;
                color: #292929;
            }

            h2 {
                font-weight: 700;
            }
        }

        .ImgPart {
            position: relative;

            .BannerImg {
                height: 420px;
                width: 700px;
                position: relative;
                bottom: 30px;
                left: 220px;
            }
        }

        .ShopNowbtn {
            border: none;
            background-color: #FA3150;
            color: white;
            width: 120px;
            height: 40px;
            margin-top: 10px;
            font-size: small;

            .ShopNowbtn:hover {
                background-color: black;
                transition: 0.3s;
            }
        }
    }
}

.ContactContainer {
    .GrayBar {
        width: 100%;
    }

    .GrayBarImg {
        width: 100%
    }

    .ContactForm {
        margin-top: 30px;

        textarea {
            height: 150px;
        }
    }

    .Contactsbt {
        border: none;
        background-color: #FA3150;
        color: white;
        width: 120px;
        height: 50px;
        font-size: small;

        .Contactsbt:hover {
            background-color: black;
            transition: 0.3s;
        }
    }

    .Map {
        width: 100%;
        height: 300px;
        margin-top: 50px;
        margin-bottom: 30px;

        iframe {
            width: 100%;
        }
    }
}

.BestCollection {
    margin-top: 80px;
    margin-left: 38%;
}

.AllCategories {
    margin-top: 30px;
    margin-left: 28%;
    font-weight: 100;
}

.ProductGrid {
    position: relative;
    left: 21%;
    top: 25px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
}

#productImg {
    width: 180px;
    height: 160px;
}


.Card {
    width: 180px;
    height: 200px;

    #specification {
        position: relative;
        left: 18px;
        width: 100%;
    }

    #name {
        font-size: 15px;
        font-weight: 200;
    }

    #price {
        font-size: 14px;
        font-weight: 100;
        margin-top: -20px;
    }

    #cardCart {
        position: absolute;
        right: 50px;
        bottom: 0.1px;


        a {
            text-decoration: none;
            color: black;
            visibility: hidden;
        }
    }
}

.Card:hover {
    #cardCart a {
        visibility: visible;
        animation: ease-in-out;
        transition: 1s;
    }
}

.LoadBtn {
    margin-top: 100px;
    margin-left: 42%;
    background-color: white;
    width: 180px;
    height: 40px;
    border-width: thin;
}


.SaleGrid {
    width: 100%;
    height: 600px;
    background-color: #FAEFEF;
    margin-top: 50px;
    position: relative;

    .SubSaleGrid {
        width: 75%;
        height: 80%;
        position: absolute;
        top: 50px;
        left: 200px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .SubSaleGrid div {
        width: 380px;
    }

    #productImg {
        width: 380px;
        height: 400px;
        object-fit: cover;
    }

    .CardSpicification {
        width: 100%;
        background-color: white;

        p {
            font-size: 20px;
            text-align: center;
            justify-content: center;
            padding-top: 15px;
        }

        .PriceFlex {
            display: flex;
            flex-direction: row;
            color: #636363;

            .OldPrice {
                font-size: 18px;
                text-align: center;
            }


            .SaleCart a {
                text-decoration: none;
                color: #636363;
            }
        }
    }
}


.UpToSell {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 510px;

    #p1 {
        color: red;
        font-size: 35px;
    }

    #p2 {
        font-size: 60px;
        font-weight: 500;
        margin-top: -20px;
    }

    #p3 {
        font-size: 30px;
    }

    #p4 {
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin-top: 50px;
    }
}

.TopSelling {
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-top: 75px;
    margin-bottom: 75px;
}

.TopSellingFlex {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.ExploreBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    button {
        border-width: 1px;
        margin-left: 10px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }
}

.LastBar {
    width: 73%;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        margin-top: 25px;
        margin-left: 10px;
        width: 400px;
        height: 500px;
    }

    #postBy {
        color: #B0B0B0;
    }
}



.SubscribeContainer {
    width: 100%;
    height: 300px;
    background-image: url(../Images/1920x300.svg);
    margin-top: 30px;
    position: relative;

    .SubSubscribe {
        width: 900px;
        height: 200px;
        background-color: white;
        position: absolute;
        left: 21%;
        top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .This {
            border: solid;
            border-width: 0.5px;
            border-radius: 70px;
        }

        .SubscribeTxt {
            border: none;
            height: 40px;
            width: 300px;
            outline: none;
            padding-left: 10px;
            border-radius: 70px;
        }

        .SubscribeBtn {
            background-color: #FA3150;
            border-radius: 25px;
            border: none;
            width: 250px;
            height: 40px;
            color: white;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
            border-radius: 60px;

            hover {
                background-color: #0E153D;
            }
        }
    }
}
